.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
  padding-left: 20px;
  padding-right: 20px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.bio {
  text-align: center;
  margin-top: 16px;
}

.tip {
  display: block;
}

.totalWaves {
  text-align: center;
  margin-top: 16px;
}

.wavesCount {
  font-weight: bold;
}

.customButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
}

#loader {
  margin: 24px auto;
  width: 10px;
  height: 10px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #000;

  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.wavesContainer {
  margin-top: 20px;
}

.card {
  border: 1px solid #f3f3f3;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 16px;
  border-radius: 5px;
}

.card p {
  font-weight: bold;
}
.card p:last-child {
  color: rgba(269, 163, 17, 1);
}

.card small {
  font-weight: normal;
}

.message {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
